body {
    background-image: url(../task1/photo-1580757468214-c73f7062a5cb.jpg);
    background-repeat: no-repeat;
    background-position-x: right;    
    background-position-y: center;    
    background-attachment: fixed;
}